{namespace JIRA.Templates.ProjectTemplates.DeployAndReview}

/**
 * Render the information page for My Project Template.
 */
{template .renderTemplateExplanation}
    <p>{getText('deployandreviewtemplate.info.page.description')}</p>
{/template}